$nav: #fbfbfb;
$accent: #4291f4;
$accentDark: #2f7de0;

$borderRadius: 3px;
$border: #e8e8e8;

$dropShadow: 0 4px 16px rgba(0,0,0,0.06);

body {
  background: #f7f7f7;
}

/* Header */
.d-header {
  background: $nav;
  box-shadow: 0 1px 0 $border;
}

/* Index page */
.topic-list {
  background: #fff;
  border-radius: $borderRadius;
  overflow: hidden;
}
.topic-list thead {
  position: sticky;
  top: 63px;
  background: #fff;
  z-index: 1;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  box-shadow: inset 0 0 0 1px $border;
}
.topic-list thead th {
  font-weight: bold;
  color: #2a2d33;
}
tbody {
  border: none;
}
tbody tr {
  box-shadow: inset 1px 0 0 $border, inset -1px 0 0 $border;
  border-top: none;
  border-bottom: 1px solid $border;
}

/* Topic page */
.topic-body {
  background: #fff;
  border-radius: $borderRadius;
  border: 1px solid $border !important; /* Sorry! */
  margin-bottom: 16px;
}
.topic-body::before {
  display: block;
  content: ' ';
  
  position: absolute;
  top: 22px;
  left: 0;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-color: #fff;
  border-bottom-color: #fff;
  box-shadow: -1.2px 1.2px 0 $border;
  transform: translate(-50%, -50%) rotate(45deg);
}
.topic-avatar {
  position: relative;
  top: -12px;
  left: -16px;
}
.post-menu-area {
  margin-bottom: 0;
}
.topic-map {
  margin-bottom: 12px;
}
#topic-title {
  padding-left: 48px;
}
.topic-avatar, .topic-body {
  border-top: none;
}
.topic-header-extra .list-tags:empty { display: none; }
.topic-header-extra .list-tags:blank { display: none; }
.topic-header-extra .list-tags:-moz-only-whitespace{ display: none; }

.topic-list-bottom {
  margin: 20px;
}
#list-area {
  margin-bottom: 0;
}

.presence-users {
  background: transparent;
}

.topic-list .topic-list-item-separator td {
  border-bottom-color: $accent;
}
.topic-list .topic-list-item-separator td span {
  color: $accent;
}

#suggested-topics {
  margin-bottom: 32px;
}
#suggested-topics .topics {
  background: #fff;
  border-radius: $borderRadius;
  
  margin-top: 10px;
  border-bottom: 1px solid $border;
  padding-bottom: 0;
}
#suggested-topics table {
  margin: 0;
}
#suggested-topics table tr:last-of-type {
  border-bottom: none;
}
#suggested-topics .suggested-topics-message {
  margin-top: 10px;
}

.quote-button {
  border-radius: $borderRadius;
}

/* Categories & Latest Page */
.categories-and-latest {
  align-items: flex-start; // Allow items to be different heights
}
.categories-and-latest .column {
  background: #fff;
  border: 1px solid $border;
  border-radius: $borderRadius;
  margin-bottom: 32px; // Add some space at bottom of page
}
.categories-and-latest .category-list {
  margin-bottom: 0;
}
.categories-and-latest .category-list thead th,
.categories-and-latest .latest-topic-list .table-heading {
  font-weight: bold;
  color: #2a2d33;
  padding-left: 16px;
  padding-right: 16px;
}
.categories-and-latest .latest-topic-list .table-heading {
  border-bottom-width: 1px;
}
.categories-and-latest .category-list td.topics {
  padding-right: 16px;
}
.categories-and-latest .category-list .category {
  display: block; // Force border to appear inside table, not replacing table border like display: table-cell would
  margin-top: -1px;
  position: relative;
}
.categories-and-latest .category-list tbody tr {
  box-shadow: none;
}
.categories-and-latest .category-list tbody tr:last-of-type {
  border-bottom: none;
}
.categories-and-latest .latest-topic-list .more-topics {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

/*************
** ELEMENTS **
*************/
/* (Generic elements which appear in many places) */

/* Badges */
.badge-wrapper.bullet {
  padding: 2px 8px;
  position: relative;
  z-index: 0;
}
.menu-panel li.category-link .badge-wrapper.bar,
.menu-panel li.category-link .badge-wrapper.bullet {
  padding: 2px 8px;
}
.badge-wrapper.bullet .badge-category-bg,
.badge-wrapper.bullet .badge-category-parent-bg + .badge-category-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: unset;
  height: unset;
  margin: 0;
  border-radius: 2px;
}
.badge-wrapper.bullet .badge-category-parent-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px;
  height: unset;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  
  -webkit-clip-path: polygon(0% 0%, 65% 0%, 100% 50%, 65% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 65% 0%, 100% 50%, 65% 100%, 0% 100%);
}
.badge-wrapper.bullet .badge-category-parent-bg + .badge-category-bg + .badge-category {
  margin-left: 8px;
}
.badge-wrapper.bullet span.badge-category,
.extra-info-wrapper .badge-wrapper.bullet span.badge-category {
  position: relative;
  color: #fff;
  /*text-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
}

/* Buttons */
.btn {
  background: #f7f7f7;
  color: #858585;
  border-radius: $borderRadius;
  transition: none;
}
.btn:hover,
.btn:focus {
  color: #000;
  background: #e2e2e2;
}
.btn:focus {
  box-shadow: 0 0 0 1px $accent, 0 0 0 4px transparentize($accent, 0.8);
}

.btn-primary, #create-topic {
  /* Treat #create-topic like it is primary */
  background: $accent;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
#create-topic:hover,
#create-topic:focus {
  background: $accentDark;
  color: #fff;
}

.btn-danger {
  background: #ff3f56;
}
.btn-danger:hover,
.btn-danger:focus {
  background: #e2142d;
  color: #fff;
}

/* List controls */
.select-kit.combo-box .combo-box-header {
  background: #fff;
  color: #757575;
  border: 1px solid $border;
  border-radius: $borderRadius;
}
.select-kit.combo-box .combo-box-header.is-focused {
  border: 1px solid $accent;
  box-shadow: 0 0 0 3px transparentize($accent, 0.8);
}
.select-kit.combo-box.category-drop .category-drop-header:not(.is-none) {
  padding: 3px; /* Only if containing category! */
}

/* Period chooser (date range in "Top") */
.select-kit .select-kit-header {
  transition: none;
}
.select-kit.dropdown-select-box.period-chooser {
  margin-bottom: 16px;
}
.select-kit.dropdown-select-box.period-chooser .period-chooser-header {
  background: #e2e2e2;
  padding: 0 16px;
}
.select-kit.dropdown-select-box.period-chooser .period-chooser-header .selected-name {
  font-size: 16px;
}
.select-kit.dropdown-select-box.period-chooser .period-chooser-header h2.selected-name .top-date-string {
  text-transform: none;
  font-size: 1em;
}
#list-area .top-lists h2 {
  margin: 0;
}

.select-kit.dropdown-select-box.period-chooser .select-kit-body {
  border: 1px solid $border;
  border-radius: $borderRadius;
  box-shadow: none;
}
.select-kit.dropdown-select-box.period-chooser .select-kit-collection {
  padding: 0;
}
.select-kit.dropdown-select-box.period-chooser .period-chooser-header .d-icon {
  margin: 4px 0;
  margin-left: 8px;
}
.select-kit.dropdown-select-box.period-chooser .period-chooser-header.is-focused,
.select-kit.dropdown-select-box.period-chooser .period-chooser-header:hover {
  background: #dbdbdb;
}
.select-kit.dropdown-select-box.period-chooser .period-chooser-row {
  padding: 6px 8px;
}
.select-kit.dropdown-select-box.period-chooser .period-chooser-row.is-selected {
  background: transparent;
}
.select-kit.dropdown-select-box.period-chooser .period-chooser-row.is-highlighted {
  background: #eee;
}
.select-kit.dropdown-select-box.period-chooser .period-chooser-row.is-selected .date-section {
  color: $accent;
}

/* Dropdowns */
.select-kit.dropdown-select-box .dropdown-select-box-header:hover .d-icon:not(.d-icon-d-tracking):not(.d-icon-d-watching) {
  color: #757575;
}
.select-kit.dropdown-select-box .dropdown-select-box-header:hover .d-icon.d-icon-d-tracking,
.select-kit.dropdown-select-box .dropdown-select-box-header:hover .d-icon.d-icon-d-watching {
  color: #08c;
}
.select-kit.dropdown-select-box .dropdown-select-box-header.is-focused {
  outline: none;
  box-shadow: 0 0 0 1px $accent, 0 0 0 4px transparentize($accent, 0.8);
}

/* Nav pills */
.nav-pills > li > a {
  transition: none;
  border-radius: $borderRadius;
}
.nav-pills > li > a:hover {
  background: transparentize($accent, 0.8);
  color: $accentDark;
}
.nav-pills > li.active > a,
.nav-pills > li > a.active {
  background: $accent;
  color: #fff;
}

/* Badges */
.badge-card {
  background: #fff;
  border-radius: $borderRadius;
  border-color: $border;
}
.badge-card > .check-display.status-checked {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: unset;
  height: unset;
  background: rgba(14, 178, 93, 0.05);
  pointer-events: none;
  border: 1px solid #0eb25d;
  border-radius: inherit;
}
.badge-card > .check-display.status-checked > .fa-check {
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 4px;
  border-radius: 3px;
  background: #0eb25d;
}
.badge-card .grant-count {
  right: 10px;
  font-weight: normal;
}
.badge-card.medium:hover {
  box-shadow: 0 2px 8px -2px rgba(0,0,0,0.1);
}

/* User Card */
#user-card {
  background: #fff;
  border-radius: $borderRadius;
  border: 1px solid $border;
  box-shadow: $dropShadow;
}
#user-card .user-card-avatar {
  border-radius: 999px;
  box-shadow: 0 0 0 8px #fff;
}
#user-card .user-card-avatar:before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  background: #fff;
  box-shadow: 0 0 0 8px #fff, 0 0 0 9px $border;
  z-index: -10;
}

/***** Inside Posts *****/

/* Onebox (website embeds) */
aside.onebox {
  background: #f9f9f9;
  border: 1px solid $border;
  border-radius: $borderRadius;
}

.onebox .thumbnail {
  border-radius: $borderRadius;
}

/* Quotes */
aside.quote {
  background: #f9f9f9;
  border: 1px solid $border;
  border-radius: $borderRadius;
}
aside.quote .title,
aside.quote blockquote {
  border: none;
  background: transparent;
}
aside.quote blockquote {
  margin-bottom: 0;
}

/* Quote Button */
.quote-button {
  border: 1px solid $border;
  border-radius: $borderRadius;
  background: #fff;
  color: #000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  opacity: 1;

  transition: box-shadow 100ms ease-in-out;
}
.quote-button:hover {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

/* Horizontal Rule */
hr {
  border-top: 2px solid #e9e9e9;
}

/* Menus (top right) */
.menu-panel {
  border: 1px solid $border;
  border-radius: $borderRadius;
  box-shadow: $dropShadow;

  z-index: 90;
}
.menu-panel.drop-down {
  margin-top: 8px;
  padding: 0;
}
.menu-panel.drop-down .panel-body-contents > * {
  box-sizing: border-box;
  padding: 8px;
}

.drop-down-mode .d-header-icons .active .icon {
  /* Disable default active styles */
  background: transparent;
  border-color: transparent;
  position: static;
}

.drop-down-mode .d-header-icons .active .icon::after {
  display: none;
}

.header-dropdown-toggle.active::before {
  display: block;
  content: ' ';

  position: absolute;
  z-index: 100;
  bottom: -9px;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, 50%) rotate(45deg);

  border: 8px solid transparent;
  border-top-color: #fff;
  border-left-color: #fff;
  box-shadow: -1.2px -1.2px 0 $border;
}

.menu-panel.drop-down .panel-body hr {
  display: none;
}

.menu-panel.drop-down .category-links {
  padding: 6px 8px;
  background: #f9f9f9;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}

.menu-panel ul.menu-links li a:hover,
.menu-panel ul.menu-links li a:focus,
.menu-panel ul li.heading a:hover,
.menu-panel ul li.heading a:focus {
  background: transparent;
  color: #043953;
}

.user-menu .notifications {
  padding: 6px 8px;
  background: #f9f9f9;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}
.user-menu .notifications .read {
  background: transparent;
}

/* Modal */
.modal-inner-container {
  border-radius: $borderRadius;
  border: 1px solid $border;
  box-shadow: $dropShadow;

  transition: transform 200ms ease-in-out;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.7;
  animation: none;
  transition: opacity 5s;
}

/* Modal entrance animation */
.modal.in .modal-inner-container {
  transform: scale(1);
}
.modal.hidden .modal-inner-container {
  transform: scale(0.9);
}

/* Inputs */
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
  border: 1px solid $border;
  border-radius: $borderRadius;

  &:focus {
    border-color: $accent;
    box-shadow: 0 0 0 3px transparentize($accent, 0.8);
  }
}

.select-kit .select-kit-header,
.d-editor-textarea-wrapper {
  border: 1px solid $border;
  border-radius: $borderRadius;
}

.select-kit .select-kit-header.is-focused,
.select-kit.multi-select.is-expanded .select-kit-wrapper {
  border-color: $accent;
  box-shadow: 0 0 0 3px transparentize($accent, 0.8);
  border-radius: $borderRadius;
}

/* New post box */
#reply-control {
  box-shadow: $dropShadow;
}
.open .grippie {
  background: $accent;
}
.open .grippie:hover {
  background: $accentDark;
}

.d-editor-textarea-wrapper.disabled .d-editor-button-bar {
  display: none;
}